@using Library_Management_System_DAL.Entity
@model List<Announcements>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>İçerik</th>
    </tr>
    @foreach (var prs in Model)
    {
        if (prs.CategoryText == "Diğer")
        {
            renk = "bg-info text-white";
        }
        if(prs.CategoryText=="Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if (prs.CategoryText == "İletişim")
        {
            renk = "bg-success text-white";
        }
        if (prs.CategoryText == "Kitapları Geciktirmeyin")
        {
            renk = "bg-danger text-white";
        }
        <tr class="@renk">
            <td>@prs.Id</td>
            <td>@prs.CategoryText</td>
            <td>@Convert.ToDateTime(prs.Date).ToString("dd/MM/yyyy")</td>
            <td><a href="/Announcement/DeleteAnnouncement/@prs.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Announcement/AnnouncementDetail/@prs.Id" class="btn btn-default" style="background-color:skyblue">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Announcement/NewAnnouncement/" class="btn btn-primary">Yeni Duyuru Ekle</a>

