@model Library_Management_System_DAL.Entity.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">

    </div>
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="Name"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">KategoriEkle</button>
    </div>
</form>