@model Library_Management_System_DAL.Entity.Employee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">

    </div>
    <div>
        <label>Personel Adı</label>
        @Html.TextBoxFor(x=>x.Employees,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.Employees,"",new {@style="color:forestgreen"})

        @*<input type="text" class="form-control" name="Employees" required />*@

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Personel Ekle</button>
    </div>
</form>