USE [kutuphane]
GO
/****** Object:  User [kutuphane_CoreProjeDbUser]    Script Date: 5.01.2023 12:57:50 ******/
CREATE USER [kutuphane_CoreProjeDbUser] FOR LOGIN [kutuphane_CoreProjeDbUser] WITH DEFAULT_SCHEMA=[kutuphane_CoreProjeDbUser]
GO
/****** Object:  User [kutuphane_db]    Script Date: 5.01.2023 12:57:50 ******/
CREATE USER [kutuphane_db] FOR LOGIN [kutuphane_db] WITH DEFAULT_SCHEMA=[kutuphane_db]
GO
/****** Object:  User [kutuphane_remoteuser]    Script Date: 5.01.2023 12:57:50 ******/
CREATE USER [kutuphane_remoteuser] FOR LOGIN [kutuphane_remoteuser] WITH DEFAULT_SCHEMA=[kutuphane_remoteuser]
GO
/****** Object:  User [kutuphane_usersena]    Script Date: 5.01.2023 12:57:50 ******/
CREATE USER [kutuphane_usersena] FOR LOGIN [kutuphane_usersena] WITH DEFAULT_SCHEMA=[kutuphane_usersena]
GO
ALTER ROLE [db_owner] ADD MEMBER [kutuphane_CoreProjeDbUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kutuphane_CoreProjeDbUser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kutuphane_CoreProjeDbUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kutuphane_CoreProjeDbUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kutuphane_CoreProjeDbUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [kutuphane_db]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kutuphane_db]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kutuphane_db]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kutuphane_db]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kutuphane_db]
GO
ALTER ROLE [db_owner] ADD MEMBER [kutuphane_remoteuser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kutuphane_remoteuser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kutuphane_remoteuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kutuphane_remoteuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kutuphane_remoteuser]
GO
ALTER ROLE [db_owner] ADD MEMBER [kutuphane_usersena]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kutuphane_usersena]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kutuphane_usersena]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kutuphane_usersena]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kutuphane_usersena]
GO
/****** Object:  Schema [kutuphane_CoreProjeDbUser]    Script Date: 5.01.2023 12:57:51 ******/
CREATE SCHEMA [kutuphane_CoreProjeDbUser]
GO
/****** Object:  Schema [kutuphane_db]    Script Date: 5.01.2023 12:57:51 ******/
CREATE SCHEMA [kutuphane_db]
GO
/****** Object:  Schema [kutuphane_remoteuser]    Script Date: 5.01.2023 12:57:51 ******/
CREATE SCHEMA [kutuphane_remoteuser]
GO
/****** Object:  Schema [kutuphane_usersena]    Script Date: 5.01.2023 12:57:51 ******/
CREATE SCHEMA [kutuphane_usersena]
GO
/****** Object:  Table [kutuphane_usersena].[About]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[About](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Explanation] [varchar](max) NULL,
 CONSTRAINT [PK_About] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Admin]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Authority] [char](1) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Announcements]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryText] [varchar](50) NULL,
	[Contents] [varchar](200) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Announcements_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Author]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Author](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Surname] [varchar](30) NULL,
	[Detail] [varchar](1000) NULL,
 CONSTRAINT [PK_Tbl_Author] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Book]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Category_Id] [tinyint] NULL,
	[Author_Id] [int] NULL,
	[PrintYear] [char](4) NULL,
	[Publisher] [varchar](50) NULL,
	[Page] [varchar](4) NULL,
	[Status] [bit] NULL,
	[BookPicture] [varchar](250) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Category]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Category](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Tbl_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Contact]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Message] [varchar](1000) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Employee]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Employee](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Employees] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Member]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Surname] [varchar](20) NULL,
	[Mail] [varchar](50) NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Photograph] [varchar](250) NULL,
	[Telephone] [varchar](20) NULL,
	[School] [varchar](100) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Message]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](50) NULL,
	[Buyer] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Contents] [varchar](500) NULL,
	[Date] [smalldatetime] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Movement]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Movement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Book_Id] [int] NULL,
	[Member_Id] [int] NULL,
	[Employee_Id] [tinyint] NULL,
	[StartDate] [smalldatetime] NULL,
	[FinishDate] [smalldatetime] NULL,
	[BringMemberDate] [smalldatetime] NULL,
	[TransactionStatus] [bit] NULL,
 CONSTRAINT [PK_Movement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Punishment]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Punishment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Member_Id] [int] NULL,
	[StartDate] [smalldatetime] NULL,
	[EndDate] [smalldatetime] NULL,
	[Money] [decimal](18, 2) NULL,
	[Movement_Id] [int] NULL,
 CONSTRAINT [PK_Punishment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kutuphane_usersena].[Till]    Script Date: 5.01.2023 12:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kutuphane_usersena].[Till](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [varchar](20) NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Till] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [kutuphane_usersena].[About] ON 

INSERT [kutuphane_usersena].[About] ([Id], [Explanation]) VALUES (1, N'Bu proje Mvc5 Platformunda C# Backend kodları ile entity ve linq yaklaşımlar kullanılarak bootstrap ve css js tasarım eklentileri ile hazırlanmıştır. Projemizde 3 tane modül bulunur. Bunlardan ilki kullanıcı hesap modülü, ikincisi vitrin modülü ve üçüncüsü ise admin modülüdür. Projemizi mvc tabanında kodlamaya devam ediyoruz. Oldukça çok yeni şey Öğrendik.')
SET IDENTITY_INSERT [kutuphane_usersena].[About] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Admin] ON 

INSERT [kutuphane_usersena].[Admin] ([Id], [UserName], [Password], [Authority]) VALUES (2, N'admin2@gmail.com', N'12', N'A')
INSERT [kutuphane_usersena].[Admin] ([Id], [UserName], [Password], [Authority]) VALUES (3, N'admin3@gmail.com', N'13', N'B')
INSERT [kutuphane_usersena].[Admin] ([Id], [UserName], [Password], [Authority]) VALUES (4, N'test2', N'12', N'1')
SET IDENTITY_INSERT [kutuphane_usersena].[Admin] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Announcements] ON 

INSERT [kutuphane_usersena].[Announcements] ([Id], [CategoryText], [Contents], [Date]) VALUES (1, N'Yeni Kitap', N'Nutuk ve Cumhuriyet anıları kitapları dün itibariyle bize ulaştı.', CAST(N'2020-04-12T00:00:00.000' AS DateTime))
INSERT [kutuphane_usersena].[Announcements] ([Id], [CategoryText], [Contents], [Date]) VALUES (2, N'Kitapları Geciktirmeyin', N'Sevgili arkadaşlar bazı öğrenci arkadaşlarımız kitapları beklediği için lütfen kitapları okuduktan sonra geri teslim ediniz.', CAST(N'2020-04-13T00:00:00.000' AS DateTime))
INSERT [kutuphane_usersena].[Announcements] ([Id], [CategoryText], [Contents], [Date]) VALUES (3, N'İletişim', N'Sistemimizde bulunan mail ve telefon bilginizi güncelleyiniz.', CAST(N'2020-04-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [kutuphane_usersena].[Announcements] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Author] ON 

INSERT [kutuphane_usersena].[Author] ([Id], [Name], [Surname], [Detail]) VALUES (1, N'Jules', N'Verne', NULL)
INSERT [kutuphane_usersena].[Author] ([Id], [Name], [Surname], [Detail]) VALUES (2, N'Charies', N'Diskens', NULL)
INSERT [kutuphane_usersena].[Author] ([Id], [Name], [Surname], [Detail]) VALUES (3, N'Halide Edip', N'Adıvar', NULL)
SET IDENTITY_INSERT [kutuphane_usersena].[Author] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Book] ON 

INSERT [kutuphane_usersena].[Book] ([Id], [Name], [Category_Id], [Author_Id], [PrintYear], [Publisher], [Page], [Status], [BookPicture]) VALUES (1, N'Tuna Klavuzu', 1, 1, N'2015', N'Yıldız', N'250', 1, N'https://i.hizliresim.com/jhxs5j7.jfif')
INSERT [kutuphane_usersena].[Book] ([Id], [Name], [Category_Id], [Author_Id], [PrintYear], [Publisher], [Page], [Status], [BookPicture]) VALUES (2, N'İki ŞEhrin Hikayesi', 1, 2, N'2018', N'Güneş', N'350', 1, N'https://i.hizliresim.com/af1f8jb.jfif')
INSERT [kutuphane_usersena].[Book] ([Id], [Name], [Category_Id], [Author_Id], [PrintYear], [Publisher], [Page], [Status], [BookPicture]) VALUES (7, N'Kaşağı', 8, 4, N'2012', N'Yıldız', N'65', 1, N'https://i.hizliresim.com/cl2oues.jpg')
SET IDENTITY_INSERT [kutuphane_usersena].[Book] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Category] ON 

INSERT [kutuphane_usersena].[Category] ([Id], [Name], [Status]) VALUES (1, N'Macera', 1)
INSERT [kutuphane_usersena].[Category] ([Id], [Name], [Status]) VALUES (2, N'BilimKurgu', 0)
INSERT [kutuphane_usersena].[Category] ([Id], [Name], [Status]) VALUES (3, N'Fantastik', 1)
SET IDENTITY_INSERT [kutuphane_usersena].[Category] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Contact] ON 

INSERT [kutuphane_usersena].[Contact] ([Id], [Name], [Mail], [Subject], [Message]) VALUES (1, N'Sena Ekincioğlu', N'deneme@hotmail.com', N'12345', N'test mesajıdır.')
SET IDENTITY_INSERT [kutuphane_usersena].[Contact] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Employee] ON 

INSERT [kutuphane_usersena].[Employee] ([Id], [Employees]) VALUES (26, N'Sena Ekincioğlu')
INSERT [kutuphane_usersena].[Employee] ([Id], [Employees]) VALUES (27, N'Murat Yücedağ')
INSERT [kutuphane_usersena].[Employee] ([Id], [Employees]) VALUES (28, N'Duru Yeşilyurt')
SET IDENTITY_INSERT [kutuphane_usersena].[Employee] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Member] ON 

INSERT [kutuphane_usersena].[Member] ([Id], [Name], [Surname], [Mail], [UserName], [Password], [Photograph], [Telephone], [School]) VALUES (1, N'Sena', N'Ekincioğlu', N'deneme@gmail.com', N'sa', N'1234', N'https://i.hizliresim.com/sxjkk9a.jpeg', N'05422396545', N'Selçuk Üniversitesi')
INSERT [kutuphane_usersena].[Member] ([Id], [Name], [Surname], [Mail], [UserName], [Password], [Photograph], [Telephone], [School]) VALUES (2, N'Murat', N'Gerekgil', N'test@gmail.com', N'murat123', N'abc', NULL, NULL, N'Çukurova Üniversitesi')
INSERT [kutuphane_usersena].[Member] ([Id], [Name], [Surname], [Mail], [UserName], [Password], [Photograph], [Telephone], [School]) VALUES (3, N'Turgay', N'Karahasan', N'turgay@hotmail.com', N'trgy1', N'a1', NULL, NULL, N'Mersin Üniversitesi')
SET IDENTITY_INSERT [kutuphane_usersena].[Member] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Message] ON 

INSERT [kutuphane_usersena].[Message] ([Id], [Sender], [Buyer], [Subject], [Contents], [Date]) VALUES (1, N'demet@outlook.com', N'deneme@gmail.com', N'Teşekkür', N'Bugün kitabı verdiğin için teşekkür ederim', CAST(N'2022-12-31T00:00:00' AS SmallDateTime))
INSERT [kutuphane_usersena].[Message] ([Id], [Sender], [Buyer], [Subject], [Contents], [Date]) VALUES (2, N'emel01@gmail.com', N'deneme@gmail.com', N'Teşekkür', N'Sunum çok güzel hazırlanmış', CAST(N'2022-12-31T00:00:00' AS SmallDateTime))
INSERT [kutuphane_usersena].[Message] ([Id], [Sender], [Buyer], [Subject], [Contents], [Date]) VALUES (3, N'turgay@hotmail.com', N'deneme@gmail.com', N'Rica', N'Beyaz zambaklar ülkesinde kitabım sende kalmış yarın kütüphaneye getirir misin', CAST(N'2022-12-31T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [kutuphane_usersena].[Message] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Movement] ON 

INSERT [kutuphane_usersena].[Movement] ([Id], [Book_Id], [Member_Id], [Employee_Id], [StartDate], [FinishDate], [BringMemberDate], [TransactionStatus]) VALUES (1, 7, 1, 27, CAST(N'2019-12-23T00:00:00' AS SmallDateTime), CAST(N'2019-12-30T00:00:00' AS SmallDateTime), CAST(N'2022-12-22T00:00:00' AS SmallDateTime), 1)
INSERT [kutuphane_usersena].[Movement] ([Id], [Book_Id], [Member_Id], [Employee_Id], [StartDate], [FinishDate], [BringMemberDate], [TransactionStatus]) VALUES (2, 9, 3, 27, CAST(N'2022-12-21T00:00:00' AS SmallDateTime), CAST(N'2022-12-28T00:00:00' AS SmallDateTime), CAST(N'2022-12-22T00:00:00' AS SmallDateTime), 1)
INSERT [kutuphane_usersena].[Movement] ([Id], [Book_Id], [Member_Id], [Employee_Id], [StartDate], [FinishDate], [BringMemberDate], [TransactionStatus]) VALUES (4, 13, 1, 28, CAST(N'2022-12-23T00:00:00' AS SmallDateTime), CAST(N'2022-12-30T00:00:00' AS SmallDateTime), CAST(N'2022-12-22T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [kutuphane_usersena].[Movement] OFF
GO
SET IDENTITY_INSERT [kutuphane_usersena].[Punishment] ON 

INSERT [kutuphane_usersena].[Punishment] ([Id], [Member_Id], [StartDate], [EndDate], [Money], [Movement_Id]) VALUES (3, 7, NULL, NULL, CAST(10.00 AS Decimal(18, 2)), 37)
SET IDENTITY_INSERT [kutuphane_usersena].[Punishment] OFF
GO
ALTER TABLE [kutuphane_usersena].[Book] ADD  CONSTRAINT [DF_Book_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [kutuphane_usersena].[Movement] ADD  CONSTRAINT [DF_Movement_TransactionStatus]  DEFAULT ((0)) FOR [TransactionStatus]
GO
ALTER TABLE [kutuphane_usersena].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([Author_Id])
REFERENCES [kutuphane_usersena].[Author] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [kutuphane_usersena].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([Category_Id])
REFERENCES [kutuphane_usersena].[Category] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [kutuphane_usersena].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Book1] FOREIGN KEY([Book_Id])
REFERENCES [kutuphane_usersena].[Book] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Movement] CHECK CONSTRAINT [FK_Movement_Book1]
GO
ALTER TABLE [kutuphane_usersena].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Employee1] FOREIGN KEY([Employee_Id])
REFERENCES [kutuphane_usersena].[Employee] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Movement] CHECK CONSTRAINT [FK_Movement_Employee1]
GO
ALTER TABLE [kutuphane_usersena].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Member] FOREIGN KEY([Member_Id])
REFERENCES [kutuphane_usersena].[Member] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Movement] CHECK CONSTRAINT [FK_Movement_Member]
GO
ALTER TABLE [kutuphane_usersena].[Punishment]  WITH CHECK ADD  CONSTRAINT [FK_Punishment_Movement1] FOREIGN KEY([Movement_Id])
REFERENCES [kutuphane_usersena].[Movement] ([Id])
GO
ALTER TABLE [kutuphane_usersena].[Punishment] CHECK CONSTRAINT [FK_Punishment_Movement1]
GO
/****** Object:  StoredProcedure [kutuphane_usersena].[MostBookAuthors]    Script Date: 5.01.2023 12:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [kutuphane_usersena].[MostBookAuthors]
as
select top 1 Author.Name+Author.Surname from Book inner join Author on
Author.Id=Book.Author_Id
group by Author.Name, Author.Surname order by COUNT(*)desc
GO
/****** Object:  Trigger [kutuphane_usersena].[BookCase11]    Script Date: 5.01.2023 12:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [kutuphane_usersena].[BookCase11]
on [kutuphane_usersena].[Movement] 
after update
as
declare @Book_Id int
select @Book_Id=Book_Id from deleted
update Book set Status=1 where Id=@Book_Id

GO
ALTER TABLE [kutuphane_usersena].[Movement] ENABLE TRIGGER [BookCase11]
GO
/****** Object:  Trigger [kutuphane_usersena].[BookCase22]    Script Date: 5.01.2023 12:57:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [kutuphane_usersena].[BookCase22]
on [kutuphane_usersena].[Movement] 
after insert 
as
declare @Book_Id int
select @Book_Id=Book_Id from inserted
update Book set Status=0 where Id=@Book_Id
GO
ALTER TABLE [kutuphane_usersena].[Movement] ENABLE TRIGGER [BookCase22]
GO
/****** Object:  Trigger [kutuphane_usersena].[PenaltyAmount]    Script Date: 5.01.2023 12:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [kutuphane_usersena].[PenaltyAmount]
ON [kutuphane_usersena].[Movement]
after update
as
declare @Member int
declare @Movement int

select @Member=Member_Id,@Movement=Id from inserted
insert into Punishment (Member_Id,Movement_Id,Money) 
values (@Member,@Movement,(select DATEDIFF(DAY,FinishDate,BringMemberDate) from Movement where Id=@Movement))


--datediff iki tarih arasını istediğin formatta alıyor

GO
ALTER TABLE [kutuphane_usersena].[Movement] ENABLE TRIGGER [PenaltyAmount]
GO
